<!DOCTYPE html>
<html>

<head>
	<title>Report System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<style>
		.alert {
			display: inline-block;
		}
	</style>
</head>

<body>
	<% include partials/header %>
		<div class="container-fluid" style="margin-top:100px;margin-bottom:100px">
			<form action="/report" method="post">
				<button type="submit" class="btn btn-outline-secondary" name="username" value="<%= record.UserName %>">
					Back
				</button>
			</form>
			<br>
			<div class="card text-center">
				<h3 class="card-header">
					<%= record.UserName %>'s Report on
						<%= moment(record.date).format("YYYY-MM-DD HH:mm") %>
				</h3>
				<div class="card-body">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="statistics-tab" data-toggle="tab" href="#statistics" role="tab" aria-controls="statistics"
							 aria-selected="true">Statistics</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="performance-tab" data-toggle="tab" href="#performance" role="tab" aria-controls="performance" aria-selected="false">Performance</a>
						</li>
					</ul>
					<br />

					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
							<table id="myTable" class="table table-hover table-responsive" cellspacing="0" width="100%">
								<thead>
									<tr class="thead-dark">
										<th>Level</th>
										<th>Item remember time(s)</th>
										<th>No. of task</th>
										<th>Time for serving customer(s)</th>
										<th>Hints used</th>
										<th>Hints used (after distraction)</th>
										<th>Hints used (after incorrect)</th>
										<th>Incorrect cook</th>
										<th>Incorrect cook (after distraction)</th>
										<th>Distraction</th>
										<th>Performance</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% for (var i in record.Record) { %>
										<% for (j in record.Record[i].theTimeUsedToServeCustomer) { %>
											<tr>
												<td>
													<% if (j == 0) { %>
														<%= parseInt(i)+1 %>
															<% } %>
												</td>
												<td>
													<% if (j == 0) { %>
														<%= record.Record[i].theTimeUsedToRememberTheitem %>
															<% } %>
												</td>
												<td>
													Task
													<%= parseInt(j)+1 %>
												</td>
												<td>
													<%= Math.round(record.Record[i].theTimeUsedToServeCustomer[j]) %>
												</td>
												<td>
													<%= record.Record[i].numOfHintsUsedForEachCustomer[j] %>
												</td>
												<td>
													<%= record.Record[i].numOfHintsUsedAfterDistractionHappend[j] %>
												</td>
												<td>
													<%= record.Record[i].numOfHintsUsedAfterWrongAnswer[j] %>
												</td>
												<td>
													<%= record.Record[i].numOfWrongCounterForEachCustomer[j] %>
												</td>
												<td>
													<%= record.Record[i].numOfWrongCounterAfterDistractionHappend[j] %>
												</td>
												<td>
													<%= record.Record[i].isDistractionHappendForCustomer[j] %>
												</td>
												<td>
													<a class="btn btn-primary" data-toggle="collapse" href="#collapsePerformance<%=i+j%>" role="button" aria-expanded="false"
													 aria-controls="collapsePerformance<%=i%>">
														+
													</a>

												</td>
												<td>
													<div class="collapse" id="collapsePerformance<%=i+j%>">
														<div class="float-right row">
															<div class="col-sm">
																<div class="alert alert-<%=record.Record[i]['alert'][j]%>" role="alert">
																	<%= record.Record[i]['description'][j] %>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
											<% } %>
												<% } %>
								</tbody>
							</table>
						</div>

						<div class="tab-pane fade" id="performance" role="tabpanel" aria-labelledby="performance-tab">
							<div class="wrapper" style="max-width: 900px; margin: auto">
								<canvas id="myChart"></canvas>
								<br />
								<button type="button" class="btn btn-primary">
									Short-term memory
									<span class="badge badge-light">
										<%= record["short-term memory"].toFixed(1) %>
									</span>
								</button>
								<button type="button" class="btn btn-success">
									Recall
									<span class="badge badge-light">
										<%= record["recall"].toFixed(1) %>
									</span>
								</button>
								<button type="button" class="btn btn-danger">
									Self-efficacy
									<span class="badge badge-light">
										<%= record["self-efficacy"].toFixed(1) %>
									</span>
								</button>
								<button type="button" class="btn btn-warning">
									Attention
									<span class="badge badge-light">
										<%= record["attention"].toFixed(1) %>
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		 crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		 crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		 crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
		<script>
			function generateData() {
				var data = ['<%= record["short-term memory"].toFixed(1) %>', '<%= record["recall"].toFixed(1) %>',
					'<%= record["self-efficacy"].toFixed(1) %>', '<%= record["attention"].toFixed(1) %>'];
				return data;
			}

			var ctx = document.getElementById("myChart").getContext('2d');
			var data = {
				labels: ['short-term memory', 'recall', 'self-efficacy', 'attention'],
				datasets: [{
					label: 'Performance',
					backgroundColor: 'rgba(54, 162, 235, 0.5)',
					borderColor: 'rgba(54, 162, 235)',
					pointBackgroundColor: 'rgba(54, 162, 235)',
					data: generateData()
				}]
			};
			var myRadarChart = new Chart(ctx, {
				type: 'radar',
				data: data,
				options: {
					legend: false,
					scale: {
						ticks: {
							min: 0,
							max: 100
						},
						pointLabels: {
							fontSize: 14
						}
					}
				}
			});
		</script>
</body>

</html>